<div class="container">
  <div class="card">
    <div class="card-header">
      <h4 class="card-title mb-0">Universal Super Heroes List</h4>
    </div>
    <div class="card-body">
      <table class="table table-striped table-bordered table-sm row-border hover responsive" datatable [dtOptions]="dtOptions">
        <thead>
          <tr>
            <th>Id</th>
            <th>Name</th>
            <th>Alignment</th>
            <th>Gender</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let heroe of data">
            <ng-container *ngIf="!heroe.clicked">
              <td (click)="findInfo(heroe)">{{heroe.id}}</td>
              <td (click)="findInfo(heroe)">{{heroe.name}}</td>
              <td (click)="findInfo(heroe)">{{heroe.alignment}}</td>
              <td (click)="findInfo(heroe)">{{heroe.gender}}</td>
            </ng-container>
            <ng-container *ngIf="heroe.clicked && !heroe.detail && !heroe.error_loading">
              <td colspan="4">Loading...wait please!</td>
            </ng-container>
            <ng-container *ngIf="heroe.clicked && heroe.detail && !heroe.error_loading">
              <td colspan="4" (click)="resetInfo(heroe)">
                <div class="card">
                  <div class="card-header">
                    <h4 class="card-title mb-0">{{heroe.name}}</h4>
                  </div>
                  <div class="card-body">
                    <div class="row">
                      <div class="col">
                        <div class="d-flex justify-content-center">
                          <img src="{{heroe.detail.image.url}}" height="200" width="200">
                        </div>
                      </div>
                      <div class="col" style="font-size:10px"> 
                        <div class="row">Name: {{heroe.detail.name}}</div>
                        <div class="row">Full name: {{heroe.detail.biography['full-name']}}</div>
                        <div class="row">Alignment: {{heroe.detail.biography['alignment']}}</div>
                        <div class="row">Place of birth: {{heroe.detail.biography['place-of-birth']}}</div>
                        <div class="row">First appearance: {{heroe.detail.biography['first-appearance']}}</div>
                        <div class="row">Publisher: {{heroe.detail.biography['publisher']}}</div>
                        <div class="row">Gender: {{heroe.detail.appearance.gender}}</div>
                        <div class="row">Race: {{heroe.detail.appearance.race}}</div>
                        <div class="row">Height: {{heroe.detail.appearance.height[0]}}, {{heroe.detail.appearance.height[1]}} </div>
                        <div class="row">Weigth: {{heroe.detail.appearance.weight[0]}}, {{heroe.detail.appearance.weight[1]}} </div>
                        <div class="row">Eye Color: {{heroe.detail.appearance['eye-color']}}</div>
                        <div class="row">Hair Color: {{heroe.detail.appearance['hair-color']}}</div>
                        <div class="row">Work: {{heroe.detail.work.occupation}}</div>
                        
                      </div>
                    </div>
                  </div> 
                </div>
              </td>
            </ng-container>
            <ng-container *ngIf="heroe.clicked && heroe.error_loading">
              <td colspan="4" (click)="resetInfo(heroe)">Error loading detailed info for {{heroe.name}}. Click for try again</td>
            </ng-container>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>